@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #10b981;
  --color-danger: #ef4444;
}

body {
  @apply bg-gray-50 text-gray-900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  @apply min-h-screen w-full max-w-md mx-auto bg-white shadow-xl relative overflow-hidden;
}
